/* Variables */
$background-color: #c6c7c4;
$primary-color: #eef0f2;
$secondary-color: #A2999E;

/* Mixins */


body {
    background: $background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
}


.container {
    background: $primary-color;
    padding: 300px 500px;
    border-radius: 10px;
    
}

.header {
  background: $secondary-color;

}
